/*start of top line */
.container {
    max-width: 1158px;
    margin: 0 auto;
}

.top-line-bg {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
    /* margin-left: 156px; should be*/
    
}

.web-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.menu-nav {
    list-style-type: none;
    display: inline-flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 200px; /* should be 332px */
}

.menu-nav-link {
    text-decoration: none;
    color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.menu-nav-link:active,
.active,
.menu-nav-link:hover {
    color: var(--OCEAN, #404BBF);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    padding-bottom: 5px;
    border-bottom: 4px solid #404BBF;
    border-radius: 2px;
}

.contacts {
    list-style-type: none;
    display: inline-flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
   /* margin-right: 156px; should have*/
}

.contact-link {
    text-decoration: none;
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.contact-link:active,
.contact-link:hover {
    color: var(--OCEAN, #404BBF);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* end of top line */
/* ----------------------------------------------------------------------------- */
/* start of Effective solutions and Order service button */
.darkbg {
    min-height: 600px; 
    background: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.esyb {
    color: var(--WHITE, #FFF);
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.button-os {
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-os:hover {
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-service {
    color: var(--WHITE, #FFF);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

/* End of Effective solutions and Order service button */
/* -------------------------------------------------------------------------------------- */
/* Start of Section 1 */

.section-1 {
    /* margin-left: 156px;
    margin-top: 148px; */
    list-style: none;
    display: flex;
    }

.feature-title {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.feature-description {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}


/* End of Section 1 */
/* ------------------------------------------------------------------------------------------------------- */
/* Start of Section 2 */
.section-2 {
    /* margin-top: 120px;
    margin-left: 156px; */
}

.section-2-header {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section2-images {
    list-style: none;
    display: flex;
    gap: 24px;
}

.img123 {
    width: 360px;
    height: 300px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

/* End of Section 2 */
/* ------------------------------------------------------------------------------------------------------- */
/* Start of Section 3 */
.section-3 {
    /* margin-top: 100px;*/
    background: var(--CLOUD, #F4F4FD);
}

.section-3-header {
    /* padding-top: 100px; */
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-cards {
    list-style: none;
    display: flex;
    gap: 24px;
}

.teamcards-group {
    /* margin-top: 72px;
    margin-bottom: 120px; */
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.image-team {
    width: 264px;
    height: 260px;
}

.names {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.position {
    color: var(--SLATE, #434455);
    text-align: center;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* End of Section 3 */
/* ------------------------------------------------------------------------------------------------------- */
/* Start of Footer */
.footer-studio {
    /* width: 1440px; */
    min-height: 312px;
    /* flex-shrink: 0; */
    background: var(--NAVY-BLUE, #2E2F42);
}

.logo-footer {
    text-decoration: none;
}

.studio-logo-foot {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-description {
    /* margin-top: 16px;
    margin-left: 156px;
    width: 264px; */
    color: var(--CLOUD, #F4F4FD);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* End of Footer */
/* ------------------------------------------------------------------------------------------------------- */
/* Portfolio Styling */
/* Start of Filter buttons */
.filters {
    /* margin: 108px 427px 72px 427px; */
    margin-top: 108px;
    margin-left: 427px;
    margin-bottom: 72px;
}

.filters-list {
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.filter-btn {
    text-decoration: none;
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
}

.active-filter,
.filter-btn:hover,
.filter-btn:active {
    text-decoration: none;
    color: var(--WHITE, #FFF);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* End of Filter buttons */
/* ------------------------------------------------------------------------------------------------------- */
.project-list {
    margin-left: 156px;
    margin-bottom: 120px;
    list-style: none;
}

.row {
    margin-top: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 1128px;
    height: 420px;
    flex-shrink: 0;
    gap: 24px;
}

.project-card {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.card-content-proj {
    padding: 0px 16px 32px 16px;
    width: 328px;
    height: 56px;
}

.project-header {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.project-filter {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}